<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %> 
    <body class="show-ejs">
        <a href="/menu"><h1>At foo bar</h1></a>
        
        <div class="img-container zoom">
            <div><%= drink.name %>, $<%= drink.price %></div>
            <img src="<%= drink.image %> " alt="<%= drink.name %>">
        </div>
    </body>
</html>
